<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Dreams</title>
</head>
<body>
    <header>
        <h1>Travel Dreams</h1>
        <nav>
            <a href="/dashboard">Back</a>
            <a href="/signout">Sign Out</a>
        </nav>
    </header>
    <main>
        <h1>Edit Description</h1>
        <form action="/posts/<%=post._id%>?_method=PUT"" method="POST">
            Description:<input type="text" name="body" value="<%= post.body %>">
            <input type="submit" value="Submit Change">
        </form>
    </main>
    <footer>
    </footer>
</body>
</html>